body{
    
    background-image: url(img/bg-gc-classicv2.jpg);
    background-size:cover;
    background-position: top;
    position: relative;
    height: 58vw;
    margin: 0 0;
    
    justify-content: center;
    align-items: center;
    font-style: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
    font-family: 'Roboto', sans-serif;;
    font-size: 1.2vw;
    
    
}
#menu{
    background-color:  rgba(39, 82, 239, 0.8);
    border-radius: 0.5vw;
    width: 100%;
    height: 5.5vw;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
}
.icone img{
    width: 11vw;
    margin-left: 2vw;
}
.button{
    margin-left: 4vw;
    width: 7vw;

}
.button img{
    width: 9vw;
    filter:invert(0%);
    transition: all 0.15s linear;
}
.button:hover img{
    filter: invert(100%);
}

#background{
    background-color: rgba(31, 31, 31, 0.8);
    margin-top: 7.5vw;
    margin-left: 15vw;
    margin-right: 15vw;
    height: 53vw;
    display: flex;
    flex-direction: column;
}
.pagina h2{
    background-image: radial-gradient(rgba(39, 82, 239, 0.8),rgba(31, 31, 31, 0.8));
    margin-top: 3vw;
    width: 100%;
    height: 2.5vw;
    text-align: center;
    color: aliceblue;
}
.galeria{
    align-items: center;
    display: inline-grid;
    grid-template-columns: auto auto auto;
    padding: 0.5vw;
    width: 20vw;
    height: 13vw;
}
.fotos{
    border: 0.2vw solid rgb(39, 82, 239);
    border-radius: 0.2vw;
    align-items: center;
    margin-left: 0.9vw;
    margin-bottom: 0.9vw;
    padding: 0.5vw;
    width: 20vw;
    height: 12vw;
}
.fotos img{
    width: 19.5vw;
    height: 12vw;
    filter:brightness(60%);
}
.fotos:hover img{
    filter:brightness(100%);
}